.page {
  margin: 0;
  padding: 0 0 4rem;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", 나눔고딕, "Nanum Gothic", "Noto Sans KR", "Noto Sans CJK KR", arial, 돋움, Dotum, Tahoma, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: var(--bg-element5);
  box-sizing: border-box;
}

.pageContent {
  width: 82%;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.pageIndex {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  .index {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 1.325rem;
    width: 8rem;
    height: 3rem;
    color: var(--text2);
    text-decoration: none;
    transition: color 0.25s ease-in-out 0s;
    font-weight: 600;
  }
  .active {
    color: var(--primary2);
  }
}

.activeLine {
  width: 8rem;
  height: 2px;
  left: 58%;
  background: var(--primary2);
  bottom: -2px;
  position: absolute;
  transition: left 0.25s ease-in-out 0s;
}

.empty {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  img {
    width: 20rem;
    height: 20rem;
    margin-bottom: 2rem;
    display: block;
  }
  .message {
    font-size: 2rem;
    color: var(--text3);
    margin-bottom: 2rem;
  }
}

.addIntro {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  background: var(--primary1);
  color: var(--button-text);
  border-radius: 4px;
  padding: 0 1.125rem;
  height: 2.5rem;
  font-size: 1.125rem;
}

.intro {
  font-size: 1.125rem;
  color: var(--text1);
  transition: color 0.125s ease-in 0s;
  line-height: 1.7;
  letter-spacing: -0.004em;
  word-break: keep-all;
  overflow-wrap: break-word;
}