main {
  margin-top: 3rem;
}

.sortDiv {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  .tabWrapper {
    display: flex;
    position: relative;
  }
}

.tab {
  width: 8rem;
  height: 3rem;
  font-size: 1.125rem;
  color: var(--text3);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-decoration: none;
}

.tab.active {
  font-weight: bold;
  color: var(--primary2);
}

.line {
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  background: var(--primary2);
}

.alphabetical {
  transform: translateX(8rem);
  width: 50%;
}
.trending {
  transform: translateX(0);
  width: 50%;
}

.tagSection {
  margin: 4rem auto 0;
  width: 82%;
  display: flex;
  flex-wrap: wrap;
}

.tagComp {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  width: 25%;
  p {
    margin-top: 0.125rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    font-size: 0.875rem;
    color: var(--text2);
    line-height: 1.5;
    width: 100%;
  }
  .count {
    font-size: 0.875rem;
    color: var(--text3);
  }
}

.title {
  margin-bottom: 0.875rem;
  background: var(--bg-tag);
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2rem;
  border-radius: 1rem;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 0.875rem;
  color: var(--primary1);
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
}