.comment_write {
  resize: none;
  padding: 1rem 1rem 1.5rem;
  outline: none;
  border: 1px solid var(--border4);
  margin-bottom: 1.5rem;
  width: 100%;
  border-radius: 4px;
  min-height: 6.125rem;
  font-size: 1rem;
  color: var(--text1);
  line-height: 1.75;
  background: var(--bg-element1);
  font-family: inherit;
}

.write_buttons_wrapper {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;

  .cancel_button {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    color: var(--primary1);
    border-radius: 4px;
    padding: 0px 1.25rem;
    height: 2rem;
    font-size: 1rem;

    &:hover {
      background: var(--bg-element3);
    }
  }

  .ok_button {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    background: var(--primary1);
    color: var(--button-text);
    border-radius: 4px;
    padding: 0px 1.25rem;
    height: 2rem;
    font-size: 1rem;

    &:hover {
      background: var(--primary2);
    }
  }

  button + button {
    margin-left: 0.5rem;
  }
}
