.background {
  z-index: 5;
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: 4rem;
  background: var(--bg-page1);
  box-shadow: rgba(0, 0, 0, 0.04) 0px -16px 16px;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  color: var(--text2);
  margin-bottom: 3.5rem;
}

.container {
  width: 1376px;
  margin: 0px auto;
  padding-bottom: 3rem;
}

.post_container {
  display: flex;
  margin: -1rem;
  flex-wrap: wrap;
}

@media (max-width: 1440px) {
  .container {
    width: 1024px;
  }
}

@media (max-width: 1376px) {
  .background {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 1056px) {
  .container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 767px) {
  .post_container {
    margin: 0px;
  }
}
