.util_box {
  width: 4rem;
  background: var(--bg-element2);
  border: 1px solid var(--border4);
  border-radius: 2rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.like {
  height: 3rem;
  width: 3rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background: var(--bg-element1);
  border: 1px solid var(--border3);
  border-radius: 1.5rem;
  color: var(--text3);
  cursor: pointer;
  z-index: 5;

  svg {
    width: 24px;
    height: 24px;
  }
}

.like_count {
  margin-top: 0.5rem;
  color: var(--text2);
  line-height: 1;
  font-size: 0.75rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.links_container {
  position: relative;
  width: 100%;
  z-index: 5;

  .positioner {
    position: absolute;
  }

  .link_container {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 48px;
    height: 48px;
  }

  .link {
    height: 3rem;
    width: 3rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: var(--bg-element1);
    border: 1px solid var(--border3);
    border-radius: 1.5rem;
    color: var(--text3);
    cursor: pointer;
    z-index: 5;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}

.link_share {
  height: 3rem;
  width: 3rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background: var(--bg-element1);
  border: 1px solid var(--border3);
  border-radius: 1.5rem;
  color: var(--text3);
  cursor: pointer;
  z-index: 5;
  position: relative;

  svg {
    width: 20px;
    height: 20px;
  }
}
