@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

.header {
  z-index: 5;
  background-color: #f8f9fa;
  top: 0;
  position: sticky;
  width: 100%;
  height: 4rem;
  display: block;
  .center {
    position: relative;
    width: 1728px;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    .left {
      align-items: flex-start;
      display: flex;
      a {
        font-family: 'Fira Mono', monospace;
        font-weight: bold;
        color: #212529;
        font-size: 1.5rem;
        text-decoration: none;
        img {
          color: inherit;
          margin-right: 1rem;
          width: 1.75rem;
          height: 1.75rem;
        }
      }
    }
    .right {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      position: relative;
      .search {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        background: transparent;
        border: none;
        width: 2.5rem;
        height: 2.5rem;
        outline: none;
        border-radius: 50%;
        color: #212529;
        cursor: pointer;
        margin-right: 0.5rem;
      }
      button {
        margin-right: 1.25rem;
        height: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1rem;
        border-radius: 1rem;
        outline: none;
        font-weight: bold;
        word-break: keep-all;
        background: #f8f9fa;
        border: 1px solid #212529;
        color: #212529;
        transition: all 0.125s ease-in 0s;
        cursor: pointer;
      }
      button:hover {
        background: black;
        color: #f8f9fa;
      }
      .login-button {
        background: #212529;
        color: #ffffff;
        margin-right: 0;
      }
      .user {
        cursor: pointer;
        display: flex;
        align-items: center;
        .profile {
          display: block;
          height: 2.5rem;
          width: 2.5rem;
          border-radius: 50%;
          object-fit: cover;
          transition: all 0.125s ease-in 0s;
        }
        svg {
          stroke: currentcolor;
          fill: currentcolor;
          stroke-width: 0;
          height: 1em;
          width: 1em;
          color: #868e96;
        }
      }
    }
    .menu {
      position: absolute;
      top: 100%;
      margin-top: 1rem;
      right: 0px;
      .menu-wrapper {
        right: 0px;
        z-index: 5;
        width: 12rem;
        background: #ffffff;
        box-shadow: #888888 0px 0px 3px;
        a {
          text-decoration: none;
        }
        div {
          color: #212529;
          padding: 0.75rem 1rem;
          line-height: 1.5;
          font-weight: 500;
          cursor: pointer;
        }
        div:hover {
          color: #12b886;
          background-color: #f1f3f5;
        }
      }
    }
  }
  @media (max-width: 1919px) {
    .center {
      width: 1376px;
    }
  }
  @media (max-width: 1440px) {
    .center {
      width: 1024px;
    }
  }
  @media (max-width: 1056px) {
    .center {
      width: calc(100% - 2rem);
    }
  }
}

.blind {
  display: none;
}
