.contents{
    display: block;
    width: 1728px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    .middle{
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        position: relative;
        .left{
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            position: relative;
            .devider{
                display: flex;
                position: relative;
                width: auto;
                a{
                    width: 7rem;
                    min-width: fit-content;
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    justify-content: center;
                    font-size: 1.125rem;
                    text-decoration: none;
                    color:#868E96;
                    height: 3rem;
                    img{
                        stroke: currentcolor;
                        fill: currentcolor;
                        stroke-width: 0;
                        height: 1em;
                        width: 1em;
                        margin-right: 0.5em;
                    }
                }
                .highlight{
                    color: black;
                    font-weight: bold;
                    border-bottom: 2px solid black;
                }
            }
            .filter{
                background: #FFFFFF;
                height: 2rem;
                width: 6rem;
                border-radius: 4px;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: justify;
                justify-content: space-between;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                font-weight: 600;
                color: #495057;
                font-size: 0.875rem;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 4px;
                cursor: pointer;
                img{
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
            .box{
                position: absolute;
                right: 0px;
                top: 100%;
                z-index: 5;
                animation-name: fadeIn;
                animation-duration: 0.5s;
                animation-timing-function: ease-out;
                .content{
                    margin-top: 0.5rem;
                    width: 12rem;
                    box-shadow: rgba(0,0,0,0.1) 0px 0px 8px 0px;
                    background: #FFFFFF;
                    color: #212529;
                    transform-origin: right top;
                    ul{
                        list-style: none;
                        padding-left: 0px;
                        margin: 0px;
                        li{
                            border-top: 1px solid #F1F3F5;
                            cursor: pointer;
                            font-weight: 600;
                            font-size: 0.875rem;
                            padding: 0.75rem 1rem;
                        }
                        li:hover{
                            background-color: #F1F3F5;
                        }
                        .selected{
                            color: #12B886;
                            background-color: #F1F3F5;
                        }
                    }
                }
            }   
        }
        .right{
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            .tag-button{
                cursor: pointer;
                font-size: 1.125rem;
                text-decoration: none;
                color:black;
            }
            .tag-button:hover{
                background-color: #F1F3F5;
            }
        }
    }
    .container{
        display: flex;
        margin-top: 2rem;
        main{
            flex: 1 1 0%;
            box-sizing: inherit;
            display: flex;
            justify-content: center;
            .posts{
                display: flex;
                margin: -1rem;
                flex-wrap: wrap;
                box-sizing: inherit;
                .post:hover{
                    top: -2px;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px 0px;
                }
                .post{
                    position: relative;
                    top: 0;
                    width: 20rem;
                    background: #FFFFFF;
                    border-radius: 4px;
                    box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;
                    transition: top 0.25s ease-in 0s, box-shadow 0.25s ease-in 0s;
                    margin: 1rem;
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    .image-link{
                        display: block;
                        color: inherit;
                        text-decoration: none;
                        .image-container{
                            padding-top: 52%;
                            width: 100%;
                            position: relative;
                            box-sizing: inherit;
                            img{
                                position: absolute;
                                top: 0px;
                                left: 0px;
                                width: 100%;
                                height: 100%;
                                display: block;
                                object-fit: cover;
                            }
                        }
                    }
                    .body{
                        padding: 1rem;
                        display: flex;
                        flex: 1 1 0%;
                        flex-direction: column;
                        a{
                            display: block;
                            color: inherit;
                            text-decoration: none;
                            h4{
                                font-size: 1rem;
                                margin: 0px 0px 0.25rem;
                                line-height: 1.5;
                                word-break: break-word;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                                color: #212529;
                            }
                            p{
                                margin: 0px 0px 1.5rem;
                                word-break: break-word;
                                overflow-wrap: break-word;
                                font-size: 0.875rem;
                                line-height: 1.5;
                                height: 3.9375rem;
                                display: -webkit-box;
                                -webkit-line-clamp: 3;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                color: #495057;
                            }
                        }
                        .sub-info{
                            font-size: 0.75rem;
                            line-height: 1.5;
                            color: #868E96;
                        }
                    }
                    .footer{
                        padding: 0.625rem 1rem;
                        border-top: 1px solid #F1F3F5;
                        display: flex;
                        font-size: 0.75rem;
                        line-height: 1.5;
                        -webkit-box-pack: justify;
                        justify-content: space-between;
                        a{
                            text-decoration: none;
                            color: inherit;
                            display: flex;
                            -webkit-box-align: center;
                            align-items: center;
                            img{
                                object-fit: cover;
                                border-radius: 50%;
                                width: 1.5rem;
                                height: 1.5rem;
                                display: block;
                                margin-right: 0.5rem;
                            }
                            span{
                                color: #868E96;
                            }
                        }
                        .likes{
                            display: flex;
                            -webkit-box-align: center;
                            align-items: center;
                        }
                    }
                }
                @media (max-width: 1056px){
                    .post{
                        width: calc(50% - 2rem);
                    }
                }
                @media (max-width: 767px){
                    .post{
                        margin: 0px;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media(max-width: 1919px){
    .contents{
        width: 1376px;  
    }    
}
@media(max-width: 1440px){
    .contents{
        width: 1024px;  
    }    
}
@media(max-width: 1056px){
    .contents{
        width: calc(100% - 2rem);  
    }    
}

.blind{
    display: none;
}

@keyframes fadeIn {
	0% {
		opacity : 0;
	}
	100% {
		opacity : 1;
	}
}
