.contents {
  display: block;
  width: 1728px;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  .container {
    display: flex;
    margin-top: 2rem;
    main {
      flex: 1 1 0%;
      box-sizing: inherit;
      display: flex;
      justify-content: center;
      .posts {
        display: flex;
        margin: -1rem;
        flex-wrap: wrap;
        box-sizing: inherit;
      }
    }
  }
}

@media (max-width: 1919px) {
  .contents {
    width: 1376px;
  }
}
@media (max-width: 1440px) {
  .contents {
    width: 1024px;
  }
}
@media (max-width: 1056px) {
  .contents {
    width: calc(100% - 2rem);
  }
}

.blind {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
