.quit-modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 60;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  .modal {
    width: 25rem;
    border-radius: 4px;
    background: #ffffff;
    padding: 2rem 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 12px 0px;
    animation: 0.4s ease-in-out 0s 1 normal forwards running cptskd;
    h3 {
      margin: 0px;
      font-size: 1.5rem;
      color: #212529;
      line-height: 1.5;
      font-weight: bold;
    }
    .message {
      line-height: 1.5;
      font-size: 1rem;
      color: #495057;
      margin-top: 1rem;
      margin-bottom: 1rem;
      white-space: pre-wrap;
    }
    .button-area {
      margin-top: 2rem;
      display: flex;
      -webkit-box-pack: end;
      justify-content: flex-end;
      button {
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        border: none;
        background: none;
        color: #12b886;
        border-radius: 4px;
        padding: 0px 1.25rem;
        height: 2rem;
        font-size: 1rem;
      }
      button:nth-child(2) {
        color: #ffffff;
        background: #12b886;
      }
    }
  }
}

.blind {
  display: none;
}
