.Toastify__toast--success {
  background-color: rgb(5, 204, 91);
  color: #ffffff;
  border-radius: 0;
}

.Toastify__toast--error {
  background-color: rgb(233, 85, 77);
  color: #ffffff;
  border-radius: 0;
}

.Toastify__close-button {
  color: #ffffff;
  opacity: 0.7;
}

:root {
  --toastify-color-progress-success: rgba(255, 255, 255, 0.7);
  --toastify-color-progress-error: rgba(255, 255, 255, 0.7);
}
