.user {
  margin-top: 5.625rem;
}

.intro {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  img {
    display: block;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    object-fit: cover;
  }
}

.textIntro {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  margin-left: 1rem;
  .name{
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: bold;
    color: var(--bg-element5);
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  .description {
    white-space: pre-wrap;
    font-size: 1.125rem;
    line-height: 1.5;
    margin-top: 0.25rem;
    color: var(--text2);
    letter-spacing: -0.004em;
  }
}

.line {
  background: var(--bg-element3);
  width: 100%;
  height: 1px;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.snsPages {
  color: var(--text3);
  display: flex;
  a {
    color: inherit;
    display: block;
  }
  svg {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
  }
  a + a, a + svg {
    margin-left: 1rem;
  }
}