:root {
  --bg-page1: #f8f9fa;
  --bg-page2: #ffffff;
  --bg-element1: #ffffff;
  --bg-element2: #f8f9fa;
  --bg-element3: #e9ecef;
  --bg-element4: #dee2e6;
  --bg-element5: #212529;
  --bg-element6: #343a40;
  --bg-element7: #ffffff;
  --bg-element8: #fbfdfc;
  --bg-invert: #1e1e1e;
  --bg-inline-code: #e9ecef;
  --bg-tag: #f8f9fa;
  --text1: #212529;
  --text2: #495057;
  --text3: #868e96;
  --text4: #ced4da;
  --border1: #343a40;
  --border2: #adb5bd;
  --border3: #dee2e6;
  --border4: #f1f3f5;
  --primary1: #12b886;
  --primary2: #20c997;
  --destructive1: #ff6b6b;
  --destructive2: #ff8787;
  --button-text: #ffffff;
  --slight-layer: rgba(0, 0, 0, 0.05);
  --opaque-layer: rgba(249, 249, 249, 0.85);
  --editor-footer: #ffffff;
  --prism-bg: #fbfcfd;
  --prism-default-text: #24292e;
  --prism-selection-bg: rgba(0, 0, 0, 0.15);
  --prism-code-block-bg: #fbfcfd;
  --prism-code-1: #969896;
  --prism-code-2: #24292e;
  --prism-code-3: #a626a4;
  --prism-code-4: #63a35c;
  --prism-code-5: #0184bc;
  --prism-code-6: #50a14f;
  --prism-code-7: #a626a4;
  --prism-code-8: #005cc5;
  --prism-code-9: #a626a4;
  --prism-line-number: #585c63;
}
